RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\. 
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

#cikis
RewriteRule ^kurumsal/([a-zA-Z-0-9-]+)$ kurumsaldetay.php?username=$1
RewriteRule ^api/favori/([0-9]+)$ api/favori/index.php?id=$1 
#RewriteRule ^api/favori/([^.?]+)$ api/favori/index.php?id=$1 [QSA,NC,L]
RewriteRule ^kurumsallar$ kurumsallar.php [NC] 
RewriteRule ^sifreislem$ sifre.php [NC]
RewriteRule ^cikis$ cikis.php [NC] 

#hata sayfasi
ErrorDocument 404 http://www.omurserdar.com/404.php
